In [249]:
# importing dependencies 
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time
import json

In [276]:
# Cleaning national shark data
sharkAttacks = pd.read_csv('attacks.csv', encoding='cp1252').drop(columns=['Unnamed: 22', 'Unnamed: 23'])
sharkAttacks.drop(columns=['Time'])
sharkAttacks.dropna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,N,08h15,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5814,1880.11.25,25-Nov-1880,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,...,Y,Afternoon,Bull shark,"Bucks County Gazette, 2/10/1881, Sunday Mail (...",1880.11.25-AlexeyDrury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1880.11.25,1880.11.25,489.0
5922,1868.05.13,13-May-1868,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,...,Y,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,"J. Fayrer, M.D.",1868.05.13-Hindoo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1868.05.13,1868.05.13,381.0
6242,ND.0064,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,...,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0
6243,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,N,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0

In [278]:
sharkAttacks['Country'].unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [251]:
# reading in csv for USA state lat and long
lat_long = pd.read_csv('Lat_long_states.csv')
lat_long

   State        Lat        Long
0     WI  44.500000  -89.500000
1     WV  39.000000  -80.500000
2     VT  44.000000  -72.699997
3     TX  31.000000 -100.000000
4     SD  44.500000 -100.000000
5     RI  41.700001  -71.500000
6     OR  44.000000 -120.500000
7     NY  43.000000  -75.000000
8     NH  44.000000  -71.500000
9     NE  41.500000 -100.000000
10    KS  38.500000  -98.000000
11    MS  33.000000  -90.000000
12    IL  40.000000  -89.000000
13    DE  39.000000  -75.500000
14    CT  41.599998  -72.699997
15    AR  34.799999  -92.199997
16    IN  40.273502  -86.126976
17    MO  38.573936  -92.603760
18    FL  27.994402  -81.760254
19    NV  39.876019 -117.224121
20    ME  45.367584  -68.972168
21    MI  44.182205  -84.506836
22    GA  33.247875  -83.441162
23    HI  19.741755 -155.844437
24    AK  66.160507 -153.369141
25    TN  35.860119  -86.660156
26    VA  37.926868  -78.024902
27    NJ  39.833851  -74.871826
28    KY  37.839333  -84.270020
29    ND  47.650589 -100.437012
30    MN  46.392410  -94.636230
31    OK  36.084621  -96.921387
32    MT  46.965260 -109.533691
33    WA  47.751076 -120.740135
34    UT  39.419220 -111.950684
35    CO  39.113014 -105.358887
36    OH  40.367474  -82.996216
37    AL  32.318230  -86.902298
38    IA  42.032974  -93.581543
39    NM  34.307144 -106.018066
40    SC  33.836082  -81.163727
41    PA  41.203323  -77.194527
42    AZ  34.048927 -111.093735
43    MD  39.045753  -76.641273
44    MA  42.407211  -71.382439
45    CA  36.778259 -119.417931
46    ID  44.068203 -114.742043
47    WY  43.075970 -107.290283
48    NC  35.782169  -80.793457
49    LA  30.391830  -92.329100

In [252]:
# Creating dict of state names and abbriviations 
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [253]:
# Writting dict to dataframe 
us_state_abbrev_df = pd.DataFrame.from_dict(us_state_abbrev, orient='index')

indexed = us_state_abbrev_df.reset_index()

indexed.columns = ['Area','State']
indexed

                        Area State
0                    Alabama    AL
1                     Alaska    AK
2             American Samoa    AS
3                    Arizona    AZ
4                   Arkansas    AR
5                 California    CA
6                   Colorado    CO
7                Connecticut    CT
8                   Delaware    DE
9       District of Columbia    DC
10                   Florida    FL
11                   Georgia    GA
12                      Guam    GU
13                    Hawaii    HI
14                     Idaho    ID
15                  Illinois    IL
16                   Indiana    IN
17                      Iowa    IA
18                    Kansas    KS
19                  Kentucky    KY
20                 Louisiana    LA
21                     Maine    ME
22                  Maryland    MD
23             Massachusetts    MA
24                  Michigan    MI
25                 Minnesota    MN
26               Mississippi    MS
27                  Missouri    MO
28                   Montana    MT
29                  Nebraska    NE
30                    Nevada    NV
31             New Hampshire    NH
32                New Jersey    NJ
33                New Mexico    NM
34                  New York    NY
35            North Carolina    NC
36              North Dakota    ND
37  Northern Mariana Islands    MP
38                      Ohio    OH
39                  Oklahoma    OK
40                    Oregon    OR
41              Pennsylvania    PA
42               Puerto Rico    PR
43              Rhode Island    RI
44            South Carolina    SC
45              South Dakota    SD
46                 Tennessee    TN
47                     Texas    TX
48                      Utah    UT
49                   Vermont    VT
50            Virgin Islands    VI
51                  Virginia    VA
52                Washington    WA
53             West Virginia    WV
54                 Wisconsin    WI
55                   Wyoming    WY

In [254]:
# merging state and lat long into one dataframe 
indexed.merge(lat_long, left_on='State', right_on='State')

              Area State        Lat        Long
0          Alabama    AL  32.318230  -86.902298
1           Alaska    AK  66.160507 -153.369141
2          Arizona    AZ  34.048927 -111.093735
3         Arkansas    AR  34.799999  -92.199997
4       California    CA  36.778259 -119.417931
5         Colorado    CO  39.113014 -105.358887
6      Connecticut    CT  41.599998  -72.699997
7         Delaware    DE  39.000000  -75.500000
8          Florida    FL  27.994402  -81.760254
9          Georgia    GA  33.247875  -83.441162
10          Hawaii    HI  19.741755 -155.844437
11           Idaho    ID  44.068203 -114.742043
12        Illinois    IL  40.000000  -89.000000
13         Indiana    IN  40.273502  -86.126976
14            Iowa    IA  42.032974  -93.581543
15          Kansas    KS  38.500000  -98.000000
16        Kentucky    KY  37.839333  -84.270020
17       Louisiana    LA  30.391830  -92.329100
18           Maine    ME  45.367584  -68.972168
19        Maryland    MD  39.045753  -76.641273
20   Massachusetts    MA  42.407211  -71.382439
21        Michigan    MI  44.182205  -84.506836
22       Minnesota    MN  46.392410  -94.636230
23     Mississippi    MS  33.000000  -90.000000
24        Missouri    MO  38.573936  -92.603760
25         Montana    MT  46.965260 -109.533691
26        Nebraska    NE  41.500000 -100.000000
27          Nevada    NV  39.876019 -117.224121
28   New Hampshire    NH  44.000000  -71.500000
29      New Jersey    NJ  39.833851  -74.871826
30      New Mexico    NM  34.307144 -106.018066
31        New York    NY  43.000000  -75.000000
32  North Carolina    NC  35.782169  -80.793457
33    North Dakota    ND  47.650589 -100.437012
34            Ohio    OH  40.367474  -82.996216
35        Oklahoma    OK  36.084621  -96.921387
36          Oregon    OR  44.000000 -120.500000
37    Pennsylvania    PA  41.203323  -77.194527
38    Rhode Island    RI  41.700001  -71.500000
39  South Carolina    SC  33.836082  -81.163727
40    South Dakota    SD  44.500000 -100.000000
41       Tennessee    TN  35.860119  -86.660156
42           Texas    TX  31.000000 -100.000000
43            Utah    UT  39.419220 -111.950684
44         Vermont    VT  44.000000  -72.699997
45        Virginia    VA  37.926868  -78.024902
46      Washington    WA  47.751076 -120.740135
47   West Virginia    WV  39.000000  -80.500000
48       Wisconsin    WI  44.500000  -89.500000
49         Wyoming    WY  43.075970 -107.290283

In [255]:
sharkAttacks.loc[sharkAttacks['Country'] == 'AUSTRALIA']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris …,M,...,N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,N,Morning,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,...,N,NaN,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,N,10h30,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,...,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0

In [269]:
# printing areas in south africa 
sharkAttacks_cleaned.loc[sharkAttacks['Country'] == 'AUSTRALIA'].Area.unique()

array(['Queensland', 'Western Australia', 'Victoria', 'New South Wales',
       'South Australia', 'Tasmania', 'Northern Territory',
       'Territory of Cocos (Keeling) Islands', 'Victoria ',
       'Torres Strait', 'Queensland '], dtype=object)

In [271]:
# replacing area names for continuity 
sharkAttacks_replace =sharkAttacks_cleaned.replace(['Victoria '], 'Victoria')

In [272]:
# Creating dataframe with Australian areas and long lat 
Aus_shark = {'Area': ['Victoria', 
          'Northern Territory',
          'South Australia',
          'Western Australia',
          'Queensland', 
          'New South Wales',
        'Tasmania',
        'Territory of Cocos (Keeling) Islands',
        'Torres Strait',
        'Queensland'], 
 'Lat': [-37.020100, 
         -19.491411, 
         -30.000233, 
         -25.042261, 
         -20.917574, 
         -31.840233,
        -41.640079,
        -12.164165,
        -10.181578,
        -20.917574], 
    'Long': [144.964600, 
             132.550964, 
             136.209152, 
             117.793221, 
             142.702789, 
             145.612793,
            146.315918,
            96.870956,
            142.26641,
            142.702789]}

In [273]:
Aus_shark_df = pd.DataFrame(data=Aus_shark)
Aus_shark_df

                                   Area        Lat        Long
0                              Victoria -37.020100  144.964600
1                    Northern Territory -19.491411  132.550964
2                       South Australia -30.000233  136.209152
3                     Western Australia -25.042261  117.793221
4                            Queensland -20.917574  142.702789
5                       New South Wales -31.840233  145.612793
6                              Tasmania -41.640079  146.315918
7  Territory of Cocos (Keeling) Islands -12.164165   96.870956
8                         Torres Strait -10.181578  142.266410
9                            Queensland -20.917574  142.702789

In [274]:
# printing areas in south africa 
sharkAttacks_cleaned.loc[sharkAttacks['Country'] == 'SOUTH AFRICA'].Area.unique()

array(['Western Cape Province', 'Eastern Cape Province', 'KwaZulu-Natal',
       'Western Province',
       'KwaZulu-Natal between Port Edward and Port St Johns'],
      dtype=object)

In [258]:
# South africa shark data 
SA_sharkAttacks=sharkAttacks_cleaned.loc[sharkAttacks['Country'] == 'SOUTH AFRICA']

In [259]:
# replacing area names for continuity 
Cleaned_SA_sharkAttacks=SA_sharkAttacks.replace(['KwaZulu-Natal between Port Edward and Port St Johns'], 'KwaZulu-Natal')

In [233]:
# Replacing area names for continuity
Cleaned_SA_sharkAttacks.replace(['Western Province'], 'Western Cape Province').Area.unique()

array(['Western Cape Province', 'Eastern Cape Province', 'KwaZulu-Natal'],
      dtype=object)

In [260]:
# Creating dataframe with south africa areas 
SA_shark = {'Area': 
            ['KwaZulu-Natal', 
             'Western Cape Province', 
             'Eastern Cape Province'], 
            'Lat': [-29.883333,
                    -33.918861, 
                    -30.362110], 
            'Long': [31.049999, 
                     18.423300, 
                     28.801413]}

In [211]:
# Creating dataframe with lat and long for south africa data 
SA_shark_df = pd.DataFrame(data=SA_shark)
SA_shark_df

                    Area        Lat       Long
0          KwaZulu-Natal -29.883333  31.049999
1  Western Cape Province -33.918861  18.423300
2  Eastern Cape Province -30.362110  28.801413

In [168]:
MEX_shark_df = sharkAttacks.loc[sharkAttacks['Country'] == 'MEXICO']
MEX_shark_df[['Country', 'Area']]

     Country                 Area
4     MEXICO               Colima
122   MEXICO              Tabasco
144   MEXICO  Baja California Sur
206   MEXICO                  NaN
226   MEXICO                  NaN
...      ...                  ...
6024  MEXICO               Oaxaca
6044  MEXICO                  NaN
6048  MEXICO             Veracruz
6052  MEXICO            Vera Cruz
6174  MEXICO                  NaN

[89 rows x 2 columns]

In [184]:
# MEX_cleaned = MEX_shark_df.dropna(thresh=2)
# MEX_shark_df = MEX_shark_df.drop(columns=['Unnamed: 22', 'Unnamed: 23'])
MEX_shark_df_no_time = MEX_shark_df.drop(columns=['Time'])
MEX_cleaned = MEX_shark_df_no_time.dropna()
MEX_shark_df.isna().sum()

Case Number                0
Date                       0
Year                       0
Type                       0
Country                    0
Area                       8
Location                  11
Activity                   6
Name                       5
Sex                        9
Age                       45
Injury                     0
Fatal (Y/N)               11
Time                      54
Species                   55
Investigator or Source     0
pdf                        0
href formula               0
href                       0
Case Number.1              0
Case Number.2              0
original order             0
dtype: int64