In [1]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
test1 = pd.read_csv('second_clean.csv')
test1.info()
test1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        1435 non-null   object
 1   Activity    1435 non-null   object
 2   Sex         1435 non-null   object
 3   Age         1435 non-null   int64
 4   Injury      1435 non-null   object
 5   Fatal(Y/N)  1435 non-null   object
 6   Time        1435 non-null   object
 7   Species     1435 non-null   object
dtypes: int64(1), object(7)
memory usage: 89.8+ KB

,Area,Activity,Sex,Age,Injury,Fatal(Y/N),Time,Species
0,California,Paddling,F,57,Non_Fatal,N,Evening,White shark
1,Pernambuco,Swimming,M,18,FATAL,Y,Evening,Tiger shark
2,Florida,Walking,M,15,Non_Fatal,N,Evening,"Bull shark, 6'"
3,Queensland,Feeding sharks,M,32,Non_Fatal,N,Morning,Grey reef shark
4,Cornwall,Fishing,M,21,Non_Fatal,N,Morning,Invalid incident
...,...,...,...,...,...,...,...,...
1430,Hoogly River,Standing,M,35,FATAL,Y,Morning,Identified as C. gangeticus by Dr. J. Fayrer
1431,Florida,Shark tagging,F,21,Non_Fatal,N,Evening,"Blacktip shark, 5'"
1432,Basrah,Swimming naked near a date palm where many dat...,M,6,Non_Fatal,N,Afternoon,Bull shark
1433,Basrah,Swimming in section of river used for washing ...,M,16,Non_Fatal,N,Afternoon,Bull shark
1434,Basrah,Swimming,M,13,FATAL,Y,Afternoon,Bull shark

In [7]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
# label encoder categorical columns: four, five, eight
label_encoder_four = LabelEncoder()  
test1['Area'] = label_encoder_four.fit_transform(test1['Area'])
label_encoder_five = LabelEncoder()        
test1['Activity'] = label_encoder_five.fit_transform(test1['Activity'])
label_encoder_eight= LabelEncoder()        
test1['Sex '] = label_encoder_eight.fit_transform(test1['Sex '])
label_encoder_six= LabelEncoder()        
test1['Injury'] = label_encoder_six.fit_transform(test1['Injury'])
#label_encoder_seven= LabelEncoder()        
#test1['Fatal(Y/N)'] = label_encoder_seven.fit_transform(test1['Fatal(Y/N)'])
label_encoder_two= LabelEncoder()        
test1['Time'] = label_encoder_two.fit_transform(test1['Time'])
label_encoder_nine= LabelEncoder() 
test1['Species '] = label_encoder_nine.fit_transform(test1['Species '])
test1

#X = test1.drop(labels='Fatal(Y/N)', axis=1)
#X = np.array(X)
#print(X)
    
#     define label
#y = test1['Fatal(Y/N)']

In [17]:
#from sklearn.model_selection import train_test_split
#test_size = 0.2
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=1)

#from sklearn.linear_model import LogisticRegression
#classifier = LogisticRegression()
#classifier.fit(X_train, y_train)

#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier(max_depth=2, random_state=0)

#clf.fit(X_train,y_train)

#y_pred=clf.predict(X_test)

#from sklearn import metrics
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#print(f"Training Data Score: {classifier.score(X_train, y_train)}")
#print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

#predictions = classifier.predict(X_test)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [18]:
test2 = pd.read_csv('Fill_blanks.csv')
test2.head()

,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,Georgia,Standing,F,11,Minor injury to left thigh,N,UNKNOWN,UNKNOWN
2,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,UNKNOWN
3,New South Wales,Surfing,M,UNKNOWN,Minor injury to lower leg,N,UNKNOWN,2 m shark
4,Colima,Free diving,M,UNKNOWN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,UNKNOWN,"Tiger shark, 3m"

In [21]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
# label encoder categorical columns: four, five, eight
label_encoder_four = LabelEncoder()  
test2['Area'] = label_encoder_four.fit_transform(test2['Area'])
label_encoder_five = LabelEncoder()        
test2['Activity'] = label_encoder_five.fit_transform(test2['Activity'])
label_encoder_eight= LabelEncoder()        
test2['Sex '] = label_encoder_eight.fit_transform(test2['Sex '])
label_encoder_six= LabelEncoder()        
test2['Injury'] = label_encoder_six.fit_transform(test2['Injury'])
label_encoder_seven= LabelEncoder()        
test2['Age'] = label_encoder_seven.fit_transform(test2['Age'])
label_encoder_two= LabelEncoder()        
test2['Time'] = label_encoder_two.fit_transform(test2['Time'])
label_encoder_nine= LabelEncoder() 
test2['Species '] = label_encoder_nine.fit_transform(test2['Species '])
test2

      Area  Activity  Sex   Age  Injury Fatal (Y/N)  Time  Species
0      158       830     0   50    2407           N   219      1283
1      277      1109     0    2    2215           N   284      1273
2      315      1153     1   40    1407           N    35      1273
3      497      1153     1   80    2217           N   284       235
4      195       579     1   80    1706           N   284      1227
...    ...       ...   ...  ...     ...         ...   ...       ...
6297   806       274     1   80     670           Y   284      1273
6298   806       843     1   80     670           Y   284      1273
6299   508      1190     1   80     670           Y   284      1273
6300   763      1409     1   80     670           Y   284      1273
6301   247      1190     1    6    1044           Y   284      1273

[6302 rows x 8 columns]

In [23]:
X = test2.drop(labels='Fatal (Y/N)', axis=1)
#X = np.array(X)
#print(X)
    
#     define label
y = test2['Fatal (Y/N)']
from sklearn.model_selection import train_test_split
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=1)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

#from sklearn.ensemble import RandomForestClassifier
#clf = RandomForestClassifier(max_depth=2, random_state=0)

#clf.fit(X_train,y_train)

#y_pred=clf.predict(X_test)

#from sklearn import metrics
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

#predictions = classifier.predict(X_test)
#pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

Training Data Score: 0.7429081531442174
Testing Data Score: 0.7319587628865979

C:\Users\15309\anaconda3\envs\Python_Data\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)